@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-certifications {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-certifications {
  animation: scroll-certifications 15s linear infinite;
}

.animate-scroll-certifications:hover {
  animation-play-state: paused;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}